@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(to bottom right, #111827, #121212);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 10px;
  border: 2px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f97316;
}


p[style*="animation-fill-mode: forwards"] {
  border-right-color: transparent !important;
  animation: typing 0.5s steps(40, end) forwards,
    blink 0.75s step-end infinite !important;
}

p[style*="borderRight:"]:not([style*="width: 100%"]) {
  animation: typing 0.5s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite !important;
}
